<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  
  <Product Id="EC4C24AE-40B4-407D-96A7-38EE41E12DBC"
           Name="Xsd2Code"
           Language="1033"
           Version="3.4.0.0"
           Manufacturer="Pascal Cabanel"
           UpgradeCode="2DA4D200-6770-42E9-ABE7-A6C17E7C0131">
    <Package InstallerVersion="200"
             Compressed="yes"
             InstallScope="perMachine"
             Manufacturer="Pascal Cabanel"
             Description="Install Xsd2Code" />
    <MediaTemplate EmbedCab="yes" CompressionLevel="high" />

    <UIRef Id="WixUI_FeatureTree" />

    <!-- Properties to get the installation folders of Visual Studio 2008, 2010, 2012 or 2013.
          If the values can't be retrieved the properties will remain unset (with the FALSE value) and can be used 
          in boolean expressions later.
          The properties must be secure in order to the Repair, Change and Remove buttons of the maintenance mode to work correctly.
    -->    

    <Property Id="VS2008INSTALLATIONFOLDER" Secure="yes">
      <RegistrySearch Id="VS2008InstallationFolderRegistrySearchId" Type="raw"
                      Root="HKLM" Key="SOFTWARE\Microsoft\VisualStudio\9.0" Name="InstallDir"></RegistrySearch>
    </Property>
    <Property Id="VS2010INSTALLATIONFOLDER" Secure="yes">
      <RegistrySearch Id="VS2010InstallationFolderRegistrySearchId" Type="raw"
                      Root="HKLM" Key="SOFTWARE\Microsoft\VisualStudio\10.0" Name="InstallDir"></RegistrySearch>
    </Property>
    <Property Id="VS2012INSTALLATIONFOLDER" Secure="yes">
      <RegistrySearch Id="VS2012InstallationFolderRegistrySearchId" Type="raw"
                      Root="HKLM" Key="SOFTWARE\Microsoft\VisualStudio\11.0" Name="InstallDir"></RegistrySearch>
    </Property>
    <Property Id="VS2013INSTALLATIONFOLDER" Secure="yes">
      <RegistrySearch Id="VS2013InstallationFolderRegistrySearchId" Type="raw"
                      Root="HKLM" Key="SOFTWARE\Microsoft\VisualStudio\12.0" Name="InstallDir"></RegistrySearch>
    </Property>

    

    <Directory Id="TARGETDIR"
               Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="Xsd2CodeInstallDir"
                   Name="Xsd2Code">
          <Directory Id="Xsd2CodeCodeTemplateDir"
                     Name="CodeTemplate" />
        </Directory>
      </Directory>
      <Directory Id="CommonAppDataFolder">
        <Directory Id="MicrosoftDirId" Name="Microsoft">
          <Directory Id="VisualStudioDirId" Name="VisualStudio">
            <Directory Id="Dir90Id" Name="9.0">
              <Directory Id="Dir90AddInsId" Name="AddIns">
                <Component Id="CMP_Xsd2CodeAddinAddin90"
                           Guid="915D2EAB-0747-479C-8153-426A79D6EFCC">
                  <File Id="FILE_Xsd2CodeAddinAddin90"
                        Source="$(var.Xsd2Code.Addin.TargetDir)\Xsd2Code.AddIn.AddIn" />
                  <!-- Modify the Version XML element inside the .AddIn file to set the value "9.0" 
                       (which is the version of VS 2008) -->
                  <util:XmlFile Id="VS2008SetVersionElement" Action="setValue" File="[#FILE_Xsd2CodeAddinAddin90]"
                                ElementPath="/Extensibility/HostApplication/Version" Value="9.0" Sequence="1" />
                  <!-- Modify the Assembly XML element inside the .AddIn file to set value of where 
                       the Xsd2Code.Addin.Dll is installed -->
                  <util:XmlFile Id="VS2008SetAssemblyElement" Action="setValue" File="[#FILE_Xsd2CodeAddinAddin90]"
                                ElementPath="/Extensibility/Addin/Assembly" Value="[#Xsd2CodeInstallDir]\[#FILE_Xsd2CodeInstallDir_Xsd2CodeAddinDll]" Sequence="1" />             
                </Component>
              </Directory>
            </Directory>
            <Directory Id="Dir100Id" Name="10.0">
              <Directory Id="Dir100AddInsId" Name="AddIns">
                <Component Id="CMP_Xsd2CodeAddinAddin100"
                           Guid="883A0829-6391-41D4-896C-7C1780816BF5">
                  <File Id="FILE_Xsd2CodeAddinAddin100"
                        Source="$(var.Xsd2Code.Addin.TargetDir)\Xsd2Code.AddIn.AddIn"/>
                  <!-- Modify the Version XML element inside the .AddIn file to set the value "10.0" 
                       (which is the version of VS 2010) -->
                  <util:XmlFile Id="VS2010SetVersionElement" Action="setValue" File="[#FILE_Xsd2CodeAddinAddin100]"
                                ElementPath="/Extensibility/HostApplication/Version" Value="10.0" Sequence="1" />
                  <!-- Modify the Assembly XML element inside the .AddIn file to set value of where 
                       the Xsd2Code.Addin.Dll is installed -->
                  <util:XmlFile Id="VS2010SetAssemblyElement" Action="setValue" File="[#FILE_Xsd2CodeAddinAddin100]"
                                ElementPath="/Extensibility/Addin/Assembly" Value="[#Xsd2CodeInstallDir]\[#FILE_Xsd2CodeInstallDir_Xsd2CodeAddinDll]" Sequence="1" />
                </Component>
              </Directory>
            </Directory>
            <Directory Id="Dir110Id" Name="11.0">
              <Directory Id="Dir110AddInsId" Name="AddIns">
                <Component Id="CMP_Xsd2CodeAddinAddin110"
                           Guid="505F4F1A-203E-4526-AEE3-E8099CECA5A1">
                  <File Id="FILE_Xsd2CodeAddinAddin110"
                        Source="$(var.Xsd2Code.Addin.TargetDir)\Xsd2Code.AddIn.AddIn" />
                  <!-- Modify the Version XML element inside the .AddIn file to set the value "11.0" 
                       (which is the version of VS 2012) -->
                  <util:XmlFile Id="VS2012SetVersionElement" Action="setValue" File="[#FILE_Xsd2CodeAddinAddin110]"
                                ElementPath="/Extensibility/HostApplication/Version" Value="11.0" Sequence="1" />
                  <!-- Modify the Assembly XML element inside the .AddIn file to set value of where 
                       the Xsd2Code.Addin.Dll is installed -->
                  <util:XmlFile Id="VS2012SetAssemblyElement" Action="setValue" File="[#FILE_Xsd2CodeAddinAddin110]"
                                ElementPath="/Extensibility/Addin/Assembly" Value="[#Xsd2CodeInstallDir]\[#FILE_Xsd2CodeInstallDir_Xsd2CodeAddinDll]" Sequence="1" />
                </Component>                
              </Directory>
            </Directory>
            <Directory Id="Dir120Id" Name="12.0">
              <Directory Id="Dir120AddInsId" Name="AddIns">
                <Component Id="CMP_Xsd2CodeAddinAddin120"
                           Guid="F05D3229-58B6-459A-8C31-8891771A89D9">
                  <File Id="FILE_Xsd2CodeAddinAddin120"
                        Source="$(var.Xsd2Code.Addin.TargetDir)\Xsd2Code.AddIn.AddIn" />
                  <!-- Modify the Version XML element inside the .AddIn file to set the value "12.0" 
                       (which is the version of VS 2013) -->
                  <util:XmlFile Id="VS2013SetVersionElement" Action="setValue" File="[#FILE_Xsd2CodeAddinAddin120]"
                                ElementPath="/Extensibility/HostApplication/Version" Value="12.0" Sequence="1" />
                  <!-- Modify the Assembly XML element inside the .AddIn file to set value of where 
                       the Xsd2Code.Addin.Dll is installed -->
                  <util:XmlFile Id="VS2013SetAssemblyElement" Action="setValue" File="[#FILE_Xsd2CodeAddinAddin120]"
                                ElementPath="/Extensibility/Addin/Assembly" Value="[#Xsd2CodeInstallDir]\[#FILE_Xsd2CodeInstallDir_Xsd2CodeAddinDll]" Sequence="1" />
                </Component>                
              </Directory>
            </Directory>
          </Directory>
        </Directory>
      </Directory>
    </Directory>
    
    <ComponentGroup Id="CG_Xsd2CodeFiles"
                    Directory="Xsd2CodeInstallDir">
      <!-- Xsd2Code.Library Project -->
      <Component Id="CMP_Xsd2CodeLibraryDll"
                 Guid="2DFC4074-EC20-43A8-AEA5-74A26F31570C">
        <File Id="FILE_Xsd2CodeInstallDir_Xsd2CodeLibraryDll"
              Source="$(var.Xsd2Code.Library.TargetDir)\Xsd2Code.Library.Dll"
              KeyPath="yes" />
      </Component>
      <!-- Xsd2Code Project -->
      <Component Id="CMP_HelpTxt"
                 Guid="F262DDDD-571B-434D-870E-157BA3FF35D9">
        <File Id="FILE_Xsd2CodeInstallDir_HelpTxt"
              Source="$(var.Xsd2Code.ProjectDir)\Resources\Help.txt"
              KeyPath="yes" />
      </Component>
      <Component Id="CMP_LicenseTxt"
                 Guid="905012FB-C7C2-4917-A16E-888AB1FF5885">
        <File Id="FILE_Xsd2CodeInstallDir_LicenseTxt"
              Source="$(var.Xsd2Code.ProjectDir)\Resources\License.txt"
              KeyPath="yes" />
      </Component>
      <Component Id="CMP_ReadmeTxt"
                 Guid="3A80A72B-C87D-4743-B55B-A6BA610D5861">
        <File Id="FILE_Xsd2CodeInstallDir_ReadmeTxt"
              Source="$(var.Xsd2Code.ProjectDir)\Resources\Readme.txt"
              KeyPath="yes" />
      </Component>
      <Component Id="CMP_ReadmeXps"
                 Guid="35ED6CDF-33DC-4E3B-B283-07D5C7E92EA4">
        <File Id="FILE_Xsd2CodeInstallDir_ReadmeXps"
              Source="$(var.Xsd2Code.ProjectDir)\Resources\Readme.xps"
              KeyPath="yes" />
      </Component>
      <Component Id="CMP_Xsd2CodeExe"
           Guid="FDCD70A0-3F72-4C2F-832F-64D84473E46C">
        <File Id="FILE_Xsd2CodeInstallDir_Xsd2CodeExe"
              Source="$(var.Xsd2Code.TargetDir)\Xsd2Code.exe"
              KeyPath="yes" />
      </Component>
      <!-- Xsd2Code.Addin Project -->
      <Component Id="CMP_Xsd2CodeAddinDll"
                 Guid="B3ABB580-2AAA-4D35-B7B3-E7657489DC29">
        <File Id="FILE_Xsd2CodeInstallDir_Xsd2CodeAddinDll"
              Source="$(var.Xsd2Code.Addin.TargetDir)\Xsd2Code.Addin.dll"
              KeyPath="yes" />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="CG_Xsd2CodeTemplateFiles"
                    Directory="Xsd2CodeCodeTemplateDir">
      <!-- Xsd2Code.Library Project -->
      <Component Id="CMP_Xsd2CodeObjectChangeTrackerCsTxt"
                 Guid="CCF299FB-27C1-403D-B398-31DA274053FE">
        <File Id="FILE_Xsd2CodeTemplateFiles_ObjectChangeTrackerCsTxt"
              Source="$(var.Xsd2Code.Library.ProjectDir)\CodeTemplate\ObjectChangeTracker.cs.txt"
              KeyPath="yes" />
      </Component>
      <Component Id="CMP_Xsd2CodeObjectStateChangingEventArgsCsTxt"
           Guid="1859C460-EB7A-4AFE-88C9-23869DDDBEDF">
        <File Id="FILE_Xsd2CodeTemplateFiles_ObjectStateChangingEventArgsCsTxt"
              Source="$(var.Xsd2Code.Library.ProjectDir)\CodeTemplate\ObjectStateChangingEventArgs.cs.txt"
              KeyPath="yes" />
      </Component>
      <Component Id="CMP_Xsd2CodePropertyValueStateCsTxt"
           Guid="CA0F0231-2AD1-4CD7-BA51-6913F1A4E1F0">
        <File Id="FILE_Xsd2CodeTemplateFiles_PropertyValueStateCsTxt"
              Source="$(var.Xsd2Code.Library.ProjectDir)\CodeTemplate\PropertyValueState.cs.txt"
              KeyPath="yes" />
      </Component>
      <Component Id="CMP_Xsd2CodeTrackableCollectionCsTxt"
           Guid="05FDEB12-FE95-4862-ABE5-3C3ED32E6DDA">
        <File Id="FILE_Xsd2CodeTemplateFiles_TrackableCollectionCsTxt"
              Source="$(var.Xsd2Code.Library.ProjectDir)\CodeTemplate\TrackableCollection.cs.txt"
              KeyPath="yes" />
      </Component>
    </ComponentGroup>
    
    <Feature Id="Xsd2Code" Title="Xsd2Code" Description="Xsd2Code common files"
             Level="1" Absent="disallow" AllowAdvertise="no" Display="expand">
      <ComponentGroupRef Id="CG_Xsd2CodeFiles" />
      <ComponentGroupRef Id="CG_Xsd2CodeTemplateFiles" />
    
      <!-- This child feature is the add-in for Visual Studio 2008 -->
      <Feature Id="VS2008InstallationFeatureId" Title="Visual Studio 2008"
              Description="Installs the add-in for Visual Studio 2008." Level="1" AllowAdvertise="no">
        <!-- The feature is hidden (Level is set to 0) when Visual Studio 2008 is not installed and
              it is the first installation (not in maintenance mode) -->
        <Condition Level="0">NOT Installed AND NOT VS2008INSTALLATIONFOLDER</Condition>
        <ComponentRef Id="CMP_Xsd2CodeAddinAddin90" />    
      </Feature>
      <Feature Id="VS2010InstallationFeatureId" Title="Visual Studio 2010"
               Description="Installs the add-in for Visual Studio 2010." Level="1" AllowAdvertise="no">
        <!-- The feature is hidden (Level is set to 0) when Visual Studio 2010 is not installed and
              it is the first installation (not in maintenance mode) -->
        <Condition Level="0">NOT Installed AND NOT VS2010INSTALLATIONFOLDER</Condition>
        <ComponentRef Id="CMP_Xsd2CodeAddinAddin100" />    
      </Feature>
      <Feature Id="VS2012InstallationFeatureId" Title="Visual Studio 2012"
               Description="Installs the add-in for Visual Studio 2012." Level="1" AllowAdvertise="no">
        <!-- The feature is hidden (Level is set to 0) when Visual Studio 2012 is not installed and
              it is the first installation (not in maintenance mode) -->
        <Condition Level="0">NOT Installed AND NOT VS2012INSTALLATIONFOLDER</Condition>
        <ComponentRef Id="CMP_Xsd2CodeAddinAddin110" />    
      </Feature>
      <Feature Id="VS2013InstallationFeatureId" Title="Visual Studio 2013"
               Description="Installs the add-in for Visual Studio 2013." Level="1" AllowAdvertise="no">
        <!-- The feature is hidden (Level is set to 0) when Visual Studio 2013 is not installed and
              it is the first installation (not in maintenance mode) -->
        <Condition Level="0">NOT Installed AND NOT VS2013INSTALLATIONFOLDER</Condition>
        <ComponentRef Id="CMP_Xsd2CodeAddinAddin120" />    
      </Feature>
    </Feature>
    
    <CustomAction Id="RemoveVS2008AddInCommands" Script="vbscript" Execute="deferred" Return="ignore">
         <![CDATA[
            Set dte = CreateObject("VisualStudio.DTE.9.0")
            For Each cmd In dte.Commands
               If InStr(cmd, "Xsd2Code.Addin.Connect") <> 0 Then
                  cmd.Delete()
               End If
            Next
            dte.Quit()
         ]]>
    </CustomAction>
    <CustomAction Id="RemoveVS2010AddInCommands" Script="vbscript" Execute="deferred" Return="ignore">
         <![CDATA[
            Set dte = CreateObject("VisualStudio.DTE.10.0")
            For Each cmd In dte.Commands
               If InStr(cmd, "Xsd2Code.Addin.Connect") <> 0 Then
                  cmd.Delete()
               End If
            Next
            dte.Quit()
         ]]>
    </CustomAction>
    <CustomAction Id="RemoveVS2012AddInCommands" Script="vbscript" Execute="deferred" Return="ignore">
         <![CDATA[
            Set dte = CreateObject("VisualStudio.DTE.11.0")
            For Each cmd In dte.Commands
               If InStr(cmd, "Xsd2Code.Addin.Connect") <> 0 Then
                  cmd.Delete()
               End If
            Next
            dte.Quit()
         ]]>
    </CustomAction>    
    <CustomAction Id="RemoveVS2013AddInCommands" Script="vbscript" Execute="deferred" Return="ignore">
         <![CDATA[
            Set dte = CreateObject("VisualStudio.DTE.12.0")
            For Each cmd In dte.Commands
               If InStr(cmd, "Xsd2Code.Addin.Connect") <> 0 Then
                  cmd.Delete()
               End If
            Next
            dte.Quit()
         ]]>
    </CustomAction>    
    
    <InstallExecuteSequence>
      <Custom Action="RemoveVS2008AddInCommands"
              After="RemoveFiles">Installed AND NOT UPGRADINGPRODUCTCODE AND VS2008INSTALLATIONFOLDER 
                                  AND !VS2008InstallationFeatureId=3
      </Custom>
      <Custom Action="RemoveVS2010AddInCommands"
              After="RemoveFiles">Installed AND NOT UPGRADINGPRODUCTCODE AND VS2010INSTALLATIONFOLDER 
                                  AND !VS2010InstallationFeatureId=3
      </Custom>
      <Custom Action="RemoveVS2012AddInCommands"
              After="RemoveFiles">Installed AND NOT UPGRADINGPRODUCTCODE AND VS2012INSTALLATIONFOLDER 
                                  AND !VS2012InstallationFeatureId=3
      </Custom>
      <Custom Action="RemoveVS2013AddInCommands"
              After="RemoveFiles">Installed AND NOT UPGRADINGPRODUCTCODE AND VS2013INSTALLATIONFOLDER 
                                  AND !VS2013InstallationFeatureId=3
      </Custom>
    </InstallExecuteSequence>
    
    <WixVariable Id="WixUILicenseRtf" Value="$(var.Xsd2Code.ProjectDir)\Resources\License.rtf"/>
  </Product>
</Wix>